<div class="login-form">
  <mat-card class="auth-card">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <h2>Вход</h2>
      <mat-divider class="divider"></mat-divider>
      <mat-form-field class="first-input">
        <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" *ngIf="!isLoading">ВОЙТИ</button>
      <button mat-stroked-button *ngIf="!isLoading" routerLink="/signup">Не зарегистрированы?</button>
    </form>
  </mat-card>
</div>
