<div class="container">
<app-header></app-header>

<div class="carousel-block">
  <ngb-carousel #authSlider>

    <ng-template ngbSlide>
      <div class="slide-container">
        <img [src]="images[0]" alt="SetContest ― бесплатный сервис для проведения розыгрышей и giveaway в YouTube" class="slide-item col-sm-12 col-md-6">
        <div class="text-block col-md-6">
          <h2>SetContest ― бесплатный сервис для проведения розыгрышей и giveaway в YouTube</h2>
          <p>
            Проводить конкурсы стало проще и удобнее! Все этапы проведения розыгрыша теперь в одном месте: <br>
            - Посадочная страница с ссылками на каналы и видео которые нужно лайкнуть <br>
            - Проверка выполнения действий пользователем через API YouTube <br>
            - Личный кабинет со всеми вашими конкурсами, где видно сколько людей участвует в каждом из них <br>
            - Розыгрыш по нажатию одной кнопки - имена победителей сразу видны на странице конкурса <br>
            SetContest избавляет вас ото всей рутины связанной с проведением розыгрыша. Это гораздо проще, чем делать всё вручную!
            <br>

          </p>

          <div class="controls">
            <button class="get_started" mat-button routerLink="/tasks-list">От винта</button>

            <div class="arrows">
              <button class="control-arrows" (click)="authSlider.next()"><img src="assets/icons/Left_arrow.svg" alt=""></button>
              <button class="control-arrows" (click)="authSlider.prev()"><img src="assets/icons/Right_arrow.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="slide-container">
        <img [src]="images[1]" alt="SetContest ― функциональный сервис для проведения розыгрышей и giveaway в YouTube" class="slide-item col-sm-12 col-md-6">
        <div class="text-block col-md-6">
          <h2>SetContest ― функциональный сервис для проведения розыгрышей и giveaway в YouTube</h2>
          <p>
            SetContest использует API YouTube, чтобы проверить, что участник конкурса действительно подписался на канал или поставил лайк под видео. Только после того, как система удостоверится, что все действия выполнены - пользователь будет добавлен в список участников и сможет участвовать в розыгрыше.
          </p>

          <div class="controls">
            <button class="get_started" mat-button routerLink="/tasks-list">От винта</button>

            <div class="arrows">
              <button class="control-arrows" (click)="authSlider.next()"><img src="assets/icons/Left_arrow.svg" alt=""></button>
              <button class="control-arrows" (click)="authSlider.prev()"><img src="assets/icons/Right_arrow.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="slide-container">
        <img [src]="images[2]" alt="SetContest ― честный сервис для проведения розыгрышей и giveaway в YouTube." class="slide-item col-sm-12 col-md-6">
        <div class="text-block col-md-6">
          <h2>SetContest ― честный сервис для проведения розыгрышей и giveaway в YouTube</h2>
          <p>
            Мы помогаем проводить конкурсы максимально прозрачно. Выбор победителя осуществляется при помощи Random.org. Это сервис, который заслужил доверие пользователей, и он предоставляет по-настоящему случайные числа. У всех участников абсолютно равные шансы на победу.
          </p>

          <div class="controls">
            <button class="get_started" mat-button routerLink="/tasks-list">От винта</button>

            <div class="arrows">
              <button class="control-arrows" (click)="authSlider.next()"><img src="assets/icons/Left_arrow.svg" alt=""></button>
              <button class="control-arrows" (click)="authSlider.prev()"><img src="assets/icons/Right_arrow.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </ngb-carousel>

</div>


<app-footer></app-footer>
</div>
