<div class="mockup-container">
  <p class="mockup text-center">
    Макет
  </p>

  <div class="mockup-body">
    <div class="header-img">
      <img src="src/assets/images/mockup_header.png" alt="">
    </div>

    <div class="mockup-body-content">
      <div class="about_author">
        <img src="src/assets/icons/AVATAR.png" alt="">
        <p>SETQUEST QUIZ</p>
      </div>

      <div class="quiz_info">
        <div class="quest_description">
          <h3>Заголовок</h3>
          <p>Условием участия в конкурсе является подписка
            на канал и лайк к видео. Из тех, кто выполнит
            условия конкурса случайным образом будет
            выбран победитель, который получит приз.</p>
        </div>
        <div class="quest_task">
          <table class="m-auto">
            <tr>
              <td class="text-center"><img class="prize_img" src="src/assets/icons/prize-icon.svg" alt=""></td>
              <td>Название приза</td>
              <td></td>
              <td><img src="src/assets/icons/trash_icon.svg" alt=""></td>
            </tr>
            <tr>
              <td><img class="portrait" src="src/assets/icons/AVATAR.png" alt=""></td>
              <td>Capybara SetQuest</td>
              <td><button class="quest_action">Лайкнуть</button></td>
              <td><img src="src/assets/icons/trash_icon.svg" alt=""></td>
            </tr>
            <tr>
              <td><img class="portrait" src="src/assets/icons/AVATAR.png" alt=""></td>
              <td>Что такое SetQuest?</td>
              <td><button class="quest_action">Подписаться</button></td>
              <td><img src="src/assets/icons/trash_icon.svg" alt=""></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center">
    <button class="check-button">Проверить</button>
    </div>
  </div>
</div>
