<div class="mockup-container">
  <p class="mockup text-center">
    Макет
  </p>

  <div class="mockup-body">
    <div class="header-img">
      <img [src]='stepperData.headerImgUrl' alt="">
    </div>

    <div class="mockup-body-content">
      <div class="about_author">
        <img src="src/assets/icons/AVATAR.png" alt="">
        <p >{{ stepperData.author }}</p>
      </div>

      <div class="quiz_info">
        <div class="quest_description">
          <h3>{{ stepperData.title }}</h3>
          <p>{{ stepperData.description }}</p>
        </div>
        <div class="quest_task">
          <table class="m-auto">
            <tr>
              <td class="text-center"><img class="prize_img" src="src/assets/icons/prize-icon.svg" alt=""></td>
              <td>Название приза</td>
              <td>{{ stepperData.prize }}</td>
              <td></td>
            </tr>
            <tr>
              <td><img class="portrait" src="src/assets/icons/AVATAR.png" alt=""></td>
              <td>Поставить лайк под видео</td>
              <td><button mat-button color="warn" class="quest_action">Лайкнуть</button></td>
              <td><button class="delete_condition" disabled><img src="src/assets/icons/trash_icon.svg" alt=""></button></td>
            </tr>
            <tr>
              <td><img class="portrait" src="src/assets/icons/AVATAR.png" alt=""></td>
              <td>Подписаться на канал</td>
              <td><button mat-button color="warn" class="quest_action">Подписаться</button></td>
              <td><button class="delete_condition" disabled><img src="src/assets/icons/trash_icon.svg" alt=""></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center">
    <button class="check-button" mat-button>Проверить</button>
    </div>
  </div>
</div>
